<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="FirstTextField">Customer Name</label>
                    <input type="text" class="form-control" id="FirstTextField"
                    placeholder="Enter the Customer" name="First" value="<%= Survey.First %>" required>
                </div>

                <div class="form-group">
                    <label for="LastTextField">Product Name</label>
                    <input type="text" class="form-control" id="LastTextField"
                    placeholder="Enter the Product Name" name="Last" value="<%= Survey.Last %>"required>
                </div>

                <div class="form-group">
                    <label for="dobTextField">Purchase Date</label>
                    <input type="text" class="form-control" id="dobTextField"
                    placeholder="Enter the Purchase Date" name="dob" value="<%= Survey.dob %>" required>
                </div>

                <div class="form-group">
                    <label for="GenderTextField">Description</label>
                    <input type="text" class="form-control" id="GenderTextField"
                    placeholder="Enter your Description" name="Gender" value="<%= Survey.Gender %>" required>
                </div>

                <div class="form-group">
                    <label for="Hair_colorTextField">Product Price</label>
                    <input type="number" class="form-control" id="Hair_colorTextField"
                    placeholder="Enter your Product Price" name="Hair_color" value="<%= Survey.Hair_color %>"required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i>
                    Submit</button>

                <a href="/surveyslist" class="btn btn-warning">
                    <i class="fas fa-undo"></i>Cancel</a>

            </form>
        </div>
    </div>
</div>

<%- include ../Partials/footer.ejs %>