<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/surveyslist/add" class="btn btn-primary"
            role="button" ><i class="fas fa-plus-circle"></i>Add Survey</a>
            <% } %>
        <table class="table table-bordered table-striped table-hover">
            <!--Table Header-->
            <tr class="d-flex">
                <th class="text-center col-2">Customer Name</th>
                <th class="text-center col-2">Product Name</th>
                <th class="text-center col-2">Purchase Date</th>
                <th class="col-5">Description</th>
                <th class="text-center col-1">Product Price</th>
            </tr>
            <% for(let count=0;count<SurveyList.length;count++) { %>
            <tr class="d-flex">
                <td class="text-center col-2"><%= SurveyList[count].Customer_Name %></td>
                    <td class="text-center col-2"><%= SurveyList[count].Product_Name %></td>
                    <td class="text-center col-2"><%= SurveyList[count].Purchase_Date %></td>
                    <td class="text-center col-5"><%= SurveyList[count].Description %></td>
                    <td class="text-center col-1"><%= SurveyList[count].Product_Price %></td>
                    
                <% if(typeof displayName == 'string' && displayName) { %>
                <td class="text-center col-1">
                    <a href="/surveyslist/edit/<%= SurveyList[count]._id%>"
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i>Edit</a></td>
                <td class="text-center col-1">
                    <a href="/surveyslist/delete/<%= SurveyList[count]._id%>"
                        class="btn btn-primary btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete</a></td>
                <% } %>
            </tr>
            <% } %>
        </table>
        </div>
    </div>
</main> 
<%- include ../Partials/footer.ejs %>